[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "arch-pkg"]
	path = arch-pkg
	url = ssh://aur@aur.archlinux.org/slpcli-git.git
	update = none
[submodule "libs/sam"]
	path = libs/sam
	url = https://github.com/klemens-morgenstern/sam.git
